.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    justify-content:space-between;
    align-content: center;
    padding: 87px 50px 93px;
}

.address {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-style: normal;
    font-size: 18px;
}

.address__header {
    padding-left: 187px;
}

.header__links-list {
    display: flex;
    gap: 33px;
    padding-bottom: 3px;
}

.header__links-list-item {
    list-style-type: none;
}

.header__links-list-item__bullit {
   list-style-type: circle;
}

.header__logo {
    text-decoration: none;
}

.header__logo-image {
    height: 105px;
    width: 148px;
}

.address__link {
    text-decoration: none;
    border-bottom: 1px rgba(0, 0, 0, 1) solid;
}

.line-height {
    line-height: 25px;
}

.cover {
    height: 100%;
    background-image: url('../images/cover.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay {
    position: absolute; 
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.cover__description-text {
    align-content: center;
    font-size: 22px;
    color: rgba(255, 255, 255, 1);
    word-spacing: 19px;
    text-transform: uppercase;
    z-index: 1;
}

.cover__title {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 165px 50px 106px;
}

.bet-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px 31px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 1);
}

.text__button {
    font-size: 22px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    z-index: 1;
}

.aligned-text {
    display: flex;
    font-size: 100px;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    letter-spacing: 29px;
    line-height: 115px;
    z-index: 1;
}

.aligned-text__left {
    justify-content: start;
}

.aligned-text__center {
    justify-content: center;
}

.aligned-text__right {
    justify-content: end;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.description {
    display: flex;
    justify-content: space-between;
    padding: 0 50px 50px;
}

.lots__heading {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 40px;
}

.lots {
    margin: 180px 24px 122px 24px;
}

.card__image-position {
    background-position: center;
    background-size: cover;
}

.card__type__film {
    background-image: url("../images/card-lot-01.jpg");
}

.card__type__book {
    background-image: url("../images/card-lot-02.jpg");
}

.card__type__picture {
    background-image: url("../images/card-lot-03.jpg");
}

.lots__card-list-item {
    width: 334px;
    list-style-type: none;
}

.lots__card-list {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    padding-top: 27px;
    padding-bottom: 31px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    height: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 48px 40px;
    justify-content: space-between;
    gap: 36px;
}

.card-link {
    position: relative;
    text-decoration: none;
    height: 100%;
}

.card__title {
    font-size: 22px;
    line-height: 26px;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
    z-index: 0;
}

.card__text {
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    line-height: 24px;
    z-index: 0;
}

.lots__look-more-link {
    font-size: 20px;
    text-decoration-thickness: 1px;
    text-underline-offset: 5px;
    padding-left: 40px;
    line-height: 23px;
}

.about {
    display: grid;
    margin: 0 24px;
    grid-template-columns: 334px auto;
    gap: 26px;
}

.about__logo {
    justify-items: center;
    padding-top: 32px;
}

.about__logo__link {
    display: flex;
    height: 240px;
    width: 240px;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 240px;
    justify-content: center;
    align-items: center;
}

.about__logo-image {
    height: 114px;
    width: 148px;
}

.about__title__and__text {
    display: flex;
    padding-top: 133px;
    flex-direction: column;
}

.about__title {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 47px;
}

.about__text {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    padding-top: 100px;
    font-size: 20px;
    line-height: 24px;
    gap: 24px;
}

.footer {
    padding: 0 50px 82px;
    margin-top: 180px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__link {
    font-size: 18px;
    text-decoration: none;
    border-bottom: 1px rgba(0, 0, 0, 1) solid;
}

.footer__links-list {
    list-style-type: none;
}

.menu__link-active {
    text-decoration: none;
    font-size: 18px;
}

.footer__menu-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}

.footer__social-list {
    display: flex;
    justify-content: end;
    gap: 48px;
}

.footer__social-list-item {
    list-style-type: none;
}